<!DOCTYPE html>
<html>
  <head>
    <title>Pieces of There</title>
    <link href='./favicon.ico' rel='icon' type='image/icon'>
    <link href='./favicon.ico' rel='shortcut icon' type='image/icon'>
    <link href='./css/bootstrap.min.css' rel='stylesheet'>
    <link href='./css/template.css' rel='stylesheet'>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-static-top'>
        <div class='container-fluid'>
          <div class='row nav'>
            <div class='col-sm-4 col-xs-6'>
              <a class='navbar-brand' href='#'>
                <img alt='Pieces of There' src='./img/_logo.png'>
              </a>
            </div>
            <div class='col-sm-4 col-xs-6'>
              <input class='form-control' name='search' placeholder='Search' type='text'>
            </div>
            <div class='col-sm-4 hidden-xs'>
              <div class='row'>
                <div class='col-sm-6 col-sm-offset-1'>
                  <a href='#'>Your Account</a>
                </div>
                <div class='col-sm-5'>
                  <a href='#'>Sign In</a>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-11 col-sm-offset-1'>
                  <span aria-hidden='true' class='glyphicon glyphicon-shopping-cart'></span>
                  <a href='#'>0 items in your cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <nav class='sub-nav'>
        <ul class='nav nav-pills'>
          <li class='dropdown' role='presentation'>
            <a aria-expanded='false' class='dropdown-toggle' data-toggle='dropdown' href='#' role='button'>
              Sample Text
              <span class='caret'></span>
            </a>
            <ul class='dropdown-menu' role='menu'>
              <li>
                <a href='#'>Sample Text</a>
              </li>
              <li>
                <a href='#'>Sample Text</a>
              </li>
            </ul>
          </li>
          <li>
            <a href='#'>Trending</a>
          </li>
          <li>
            <a href='#'>New Items</a>
          </li>
          <li>
            <a href='#'>Best Gifts</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class='jumbotron'>
      <div class='container-fluid'>
        <figure>
          <img class='img-responsive' src='...'>
          <figcaption>
            <img src=''>
            <button class='btn' href='#' role='button'>Start Shopping</button>
          </figcaption>
        </figure>
      </div>
      <div class='container-fluid'>
        <nav class='sub-nav'>
          <ul class='nav nav-pills'>
            <li>
              <a>
                <strong>Popular</strong>
              </a>
            </li>
            <li>
              <a href='#'>City1</a>
            </li>
            <li>
              <a href='#'>City2</a>
            </li>
            <li>
              <a href='#'>City3</a>
            </li>
            <li>
              <a href='#'>City4</a>
            </li>
            <li>
              <a href='#'>City5</a>
            </li>
            <li>
              <a href='#'>City6</a>
            </li>
            <li>
              <a href='#'>City7</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <section class='panel' id='idName'>
      <div class='panel-heading'>
        <h4 class='panel-title'>Panel Title</h4>
        <div class='sort'>
          <h4 class='panel-title'>Sort By:</h4>
          <select>
            <option value='...'>Option 1</option>
            <option value='...'>Option 2</option>
          </select>
        </div>
      </div>
      <div class='panel-body'></div>
      <button class='btn'>Show More</button>
    </section>
    <section class='panel' id='item'>
      <div class='panel-heading'>
        <ol class='panel-title breadcrumb'>
          <li>
            <a href='#'>Locations</a>
          </li>
          <li class='active'>City</li>
        </ol>
        <hr>
      </div>
      <div class='panel-body'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-sm-5 col-xs-12'>
              <div class='img' src='...'></div>
            </div>
            <div class='col-sm-6 col-sm-offset-1 col-xs-12'>
              <div class='tile-info'>
                <p>
                  <strong>Item Name</strong>
                </p>
                <p>Vendor</p>
              </div>
              <h4>$Price</h4>
              <div role='tabpanel'>
                <ul class='nav nav-tabs' role='tablist'>
                  <li class='active' role='presentation'>
                    <a aria-controls='desc' data-toggle='tab' href='#desc' role='tab'>Description</a>
                  </li>
                  <li role='presentation'>
                    <a aria-controls='vend' data-toggle='tab' href='#vend' role='tab'>Vendor Info</a>
                  </li>
                </ul>
                <div class='tab-content'>
                  <div class='tab-pane fade in active' id='desc' role='tabpanel'>
                    <p></p>
                  </div>
                  <div class='tab-pane fade in' id='vend' role='tabpanel'>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='cta'>
      <div class='container-fluid'>
        <figure>
          <img src='...'>
          <figcaption>
            <h1>City</h1>
            <h2>Tag Line</h2>
            <a href='#'>See authentic products</a>
          </figcaption>
        </figure>
      </div>
    </section>
    <section class='panel' id='locations'>
      <div class='panel-heading'>
        <h4 class='panel-title'>Panel Title</h4>
      </div>
      <div class='panel-body'></div>
    </section>
    <footer class='hidden-xs'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-sm-3'>
            <h4>Pieces of There</h4>
            <a href='#'>About Us</a>
            <a href='#'>Product Info</a>
            <a href='#'>Terms of Use</a>
          </div>
          <div class='col-sm-3'>
            <h4>Contact Us</h4>
            <a href='#'>Instant Chat</a>
            <a>info@piecesofthere.com</a>
            <a href='#'>Suggest a Product</a>
          </div>
          <div class='col-sm-3'>
            <h4>Partnership Program</h4>
            <a href='#'>See Our Partners</a>
            <a href='#'>Partner with Us</a>
          </div>
          <div class='col-sm-3'>
            <a href='#'>
              <img src='...'>
            </a>
            <a href='#'>
              <img src='...'>
            </a>
            <a href='#'>
              <img src='...'>
            </a>
          </div>
        </div>
      </div>
      <h5>&copy; 2014 Pieces of There, Inc. All rights reserved.</h5>
    </footer>
    <footer class='visible-xs-block'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-4'>
            <a href='#'>About Us</a>
          </div>
          <div class='col-xs-4'>
            <a>info@piecesofthere.com</a>
          </div>
          <div class='col-xs-4'>
            <a href='#'>Partner with Us</a>
          </div>
        </div>
      </div>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-12'>
            <a href='#'>
              <img src='...'>
            </a>
            <a href='#'>
              <img src='...'>
            </a>
            <a href='#'>
              <img src='...'>
            </a>
          </div>
        </div>
      </div>
      <h5>&copy; 2014 Pieces of There, Inc. All rights reserved.</h5>
    </footer>
  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script src='./js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.runtime.min.js'></script>
  <script src='./js/tile.hbs.js'></script>
</html>
